:root {
    &,
    &.realm-about {
        --realm-primary-color: var(--color-realm-about);
    }

    &.realm-web {
        --realm-primary-color: var(--color-realm-web);
    }

    &.realm-astronomy {
        --realm-primary-color: var(--color-realm-astronomy);
    }

    &.realm-worldbuilding {
        --realm-primary-color: var(--color-realm-worldbuilding);
    }

    &.realm-fractal {
        --realm-primary-color: var(--color-realm-fractal);
    }
}

@theme {
    --font-sans: 'Noto Sans JP', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-realm-about: oklch(65.59% 0.165 49.55);
    --color-realm-web: oklch(34.19% 0.153 315.69);
    --color-realm-astronomy: oklch(66.80% 0.160 18.27);
    --color-realm-worldbuilding: oklch(49.83% 0.054 101.52);
    --color-realm-fractal: oklch(79.47% 0.113 236.48);
    --color-realm-primary: var(--realm-primary-color);
}