:root {
    /* Media Breakpoints */
    --breakpoint-tablet: 768px;

    /* Base Colors */
    --color-1: #070813;
    --color-2: #0b1f3a;
    --color-3: #76101e;
    --color-4: #ffbf00;
    --color-5: #c2dde4;

    --background-color: var(--color-1);
    --ui-background-color: var(--color-2);

    /* @nuxt/fonts module automatically adds font families
       via https://fonts.bunny.net/ */
    --font-family-base: 'Noto Sans JP', sans-serif;

    /* Font Sizes */
    --font-size-base: 1rem; /* 16px */
    --font-size-xs: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2rem;
    --font-size-lg: 2.4rem;
    --font-size-xl: 2.8rem;

    /* Transitions */
    --transition-default: .4s ease-in-out;

    /* Spacings */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;

    /* Main Nav Width*/
    --main-nav-width: 64px;
    --main-nav-width-expanded: 256px;
  }

@media (prefers-reduced-motion) {
    :root {
        --transition-default: 0s;
    }
}