@keyframes pulse-animation {
  0% {
    width: 100%;
    height: 100%;
    border-width: 1px;
    filter: blur(2px);
    opacity: 1;
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
    border-width: 3px;
    filter: blur(24px);
  }
}

@keyframes delay-animation {
  0% {
    opacity: 1;
  }
  16.7% {
    opacity: 1;
  }
  16.8% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}