:root {
    /* Colors */
    --color-background-page: 20 100% 3%;
    --color-background-dark: 23 100% 5%;
    --color-background: 23 100% 14%;
    --color-background-light: 23 100% 24%;
    --color-border: 27 32% 43%;
    --color-text: 38 11% 81%;
    --color-text-inverted: 38 11% 20%;

    /* Background Images */
    --content-container-background-image: url('/images/oldpaper.webp');

    /* Breakpoints, just for me so I don't forget them */
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;

    /* Spacings */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    /* Border Radius */
    --rounded-sm: 2px;
    --rounded-md: 4px;
    --rounded-lg: 8px;
    --rounded-xl: 16px;
    --rounded-full: 9999px;

    /* Font Families */
    --font-family-sans: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'Yu Gothic', 'MS PGothic', sans-serif;

    /* Font Sizes */
    --font-sm: 0.8rem;
    --font-base: 1rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.563rem;
    --font-3xl: 1.953rem;
    --font-4xl: 2.441rem;
    --font-5xl: 3.052rem;

    /* Line Heights */
    --leading-sm: 1.2;
    --leading-base: 1.5;
    --leading-xl: 1.75;
    --leading-2xl: 2;
    --leading-3xl: 2.25;
    --leading-4xl: 2.5;
    --leading-5xl: 2.75;

    /* Transitions */
    --transition-speed-default: 0.3s;
}

:root.light {
    --color-background: #772e00;
    --color-text: #f3ece1;
}